// Place all the styles related to the public/diaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// diary
.diaryimage {
  width: 600px;
  height: 500px;
  margin-top: 10px;
}

.new-diary {
  position: absolute;
  top: 55px;
  left: 85px;
}

.diary-width {
 width: 450px;
 height: 40px;
 margin-bottom: 10px;
}

.diary-detail {
  height: 220px;
}

.diary-show {
  padding: 25px 0 5px 100px;
}

.simple-diary2 {
  height: 40px;
  padding-top: 25px;
  padding-left: 10px;
}

.edit-diary {
  padding-right: 10px;
}

.hane {
  width: 30px;
  height: 40px;
  margin-top: 25px;
  transform: scale(-1, 1);
}

.line1 {
  width: 400px;
  margin-left: 15px;
}

.detail {
  padding: 20px;
}

.line2 {
  width: 460px;
}

.diary-btn {
  padding-right: 15px;
}

// タブレット横置きサイズ（1024px）以下
@media screen and (max-width:1025px) {
  .diaryimage {
    width: 500px;
    height: 570px;
  }

  .diary-width {
   width: 360px;
  }

  .diary-detail {
    height: 270px;
  }

  .diary-show {
    padding: 25px 0 5px 60px;
  }

  .simple-diary2 {
    padding-left: 25px;
  }

  .line1 {
    width: 360px;
  }

  .line2 {
    width: 420px;
  }
}

// タブレット縦置きサイズ（768px）以下
@media screen and (max-width:769px) {
  .diaryimage {
    width: 700px;
    height: 530px;
  }

  .new-diary {
    top: 70px;
    left: 120px;
  }

  .diary-width {
   width: 500px;
  }

  .diary-detail {
    height: 220px;
  }

  .diary-show {
    padding: 25px 0 5px 20px;
  }

  .line1 {
    width: 600px;
  }

  .line2 {
    width: 680px;
  }
}

// スマートフォンサイズ（425px）以下
@media screen and (max-width:426px) {
  .diaryimage {
    width: 400px;
    height: 530px;
  }

  .new-diary {
    top: 60px;
    left: 65px;
  }

  .diary-width {
   width: 300px;
  }

  .diary-detail {;
    height: 220px;
  }

  .diary-show {
    padding: 25px 0 5px 20px;
  }

  .line1 {
    width: 330px;
    margin-left: 0;
  }

  .line2 {
    width: 380px;
  }
}