// Place all the styles related to the public/events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// カレンダーの点
.fc-daygrid-event-dot {
  display: none;
}

// カレンダーの表示色
.fc .fc-daygrid-day-number {
  color: #696969;
}

.fc .fc-col-header-cell-cushion {
  color: #696969;
}

// event 登録・編集画面
.backimage {
  width: 100%;
  height: 800px;
}

.event-show th {
  height: 70px;
  width: 30%;
}

.event-show td {
  width: 60%;
}

.event th {
  height: 75px;
  width: 30%;
}

.event td {
  width: 60%;
}

.title {
  text-align: center;
}

.table-1 {
  position: absolute;
  top: 20%;
  left: 13%;
}

.form_width {
  width: 100%;
}

.plan {
  height: 40px;
}

.memo {
  height: 100px;
}

.place {
  height: 50px;
}

input[type=radio] {
  margin: 5px;
}

.edit-btn {
  margin: 5px 80px 0 0;
}

// カラータグのラジオボタンの設定
.maru {
  padding: 7px 7px;
  margin-right: 2px;
  border-radius: 50%;
}

#colorless {
  border-bottom: 2px solid #fffaf0;
}

#colorless:active, #colorless:focus, #colorless:target {
  background-color: #ffeecc;
}

#pink {
  background-color: #f4b3c2;
}

#pink:active, #pink:focus {
  background-color: #e7609e;
  accent-color: #f4b3c2;
}

#red {
  background-color: #ec6d71;
}

#red:active, #red:focus {
  background-color: #d9333f;
  accent-color: #ec6d71;
}

#orange {
  background-color: #f8b862;
}

#orange:active, #orange:focus {
  background-color: #f08300;
  accent-color: #f8b862;
}

#yellow {
  background-color: #fef263;
}

#yellow:active, #yellow:focus {
  background-color: #ffdc00;
  accent-color: #fef263;
}

#yellow_green {
  background-color: #98d98e;
}

#yellow_green:active, #yellow_green:focus {
  background-color: #65ab31;
  accent-color: #98d98e;
}

#green {
  background-color: #3eb370;
}

#green:active, #green:focus {
  background-color: #007b43;
  accent-color: #3eb370;
}

#light_blue {
  background-color: #66ccff;
}

#light_blue:active, #light_blue:focus {
  background-color: #2ca9e1;
  accent-color: #66ccff;
}

#blue {
  background-color: #3381ff;
}

#blue:active, #blue:focus {
  background-color: #1e50a2;
  accent-color: #3381ff;
}

#purple {
  background-color: #a96ded;
}

#purple:active, #purple:focus {
  background-color: #674196;
  accent-color: #a96ded;
}

// event/show tableの色付け
.colorless {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #fffaf0 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.pink {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #f4b3c2 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.red {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #ec6d71 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.orange {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #f8b862 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.yellow {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #fef263 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.yellow_green {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #98d98e 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.green {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #3eb370 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.light_blue {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #66ccff 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.blue {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #3381ff 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

.purple {
  background-image: repeating-linear-gradient(45deg, transparent 0 3px, #a96ded 3px 6px);
  background-repeat: no-repeat;
  background-size: 100% 0.5rem;
  background-position: bottom;
}

// event/show flower画像の設定
.flower-image {
  width: 20%;
  position: absolute;
  bottom: -16%;
  right: -3%;
}

// タブレット横置きサイズ（1024px）以下
@media screen and (max-width:1025px) {
  .backimage {
    width: 100%;
    height: 800px;
  }

  .event th {
    height: 75px;
  }

  .event-show th {
    height: 70px;
  }

  // event/show flower画像の設定
  .flower-image {
    bottom: -13%;
    right: 0%;
  }
}

// タブレット縦置きサイズ（768px）以下
@media screen and (max-width:769px) {
  .maru {
    padding: 1% 1%;
  }

  .backimage {
    width: 100%;
    height: 600px;
  }

  .event th {
    height: 30px;
  }

  .event-show th {
    height: 50px;
  }

  .btn-group {
    display: inline-block;
  }

  // event/show flower画像の設定
  .flower-image {
    bottom: -16%;
  }
}

// スマートフォンサイズ（425px）以下
@media screen and (max-width:426px) {
  .maru {
    padding: 1% 1%;
  }

  .backimage {
    width: 100%;
    height: 650px;
  }

  .event th {
    height: 40px;
  }

  .event-show th {
    height: 50px;
  }

  .edit-btn {
    margin: 5px 15px 0 0;
  }

  .btn-group {
    display: inline-block;
  }

  // event/show flower画像の設定
  .flower-image {
    bottom: -13%;
  }
}

// 339px以下
@media screen and (max-width:340px) {
  // event/show flower画像の設定
  .flower-image {
    bottom: -11%;
  }
}