// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 新規登録、ログイン、users
.sessions-title {
  padding: 0 0 15px 20px;
}

.registration th {
  height: 45px;
  width: 40%;
}

.caution {
  font-size: 10px;
}

.registration-form {
  width: 100%;
}

.log-in {
  margin: 40px 50px 0 0;
}

.sessions {
  width: 100%;
}

.sessions th {
  height: 45px;
  width: 30%;
}

.sessions-form {
  width: 85%;
}

.users-edit {
  padding: 20px 15px 0 0;
}

.users-edit-btn {
  width: 95px;
}

.unsubscribe {
  text-align: center;
}

.unsubscribe h3 {
  padding: 20px;
}

.unsubscribe-btn {
  padding-top: 20px;
}

// 会員情報ページ
.user-td {
  border-bottom: 1px solid #68be8d;
}