<h1>About</h1>

<div class="about_image">
  <%= image_tag 'himawari.jpg.webp', size: '210x120' %>
</div>

<!--管理者画面へ遷移-->
<%= link_to image_tag('tanpopo.png', :size => '50x50'), new_admin_session_path %>