<%= image_tag 'kifure-mu.jpeg', class: "background" %>
<div class="row">
  <div class="about-text">
    <p>ようこそ。<br>
    当サイトは、予定を立てたり、日記を書いたり、<br>
    そんな、毎日を書き記しておく場所です。</p>
    <p>「買い物に出たらネコに出会った」<br>
    「今日は家の掃除をがんばった」<br>
    「今日は何事もない穏やかな一日だった」</p>
    <p>予定に日記も添えてみましょう。</p>
    <p>予定は色分けできるので、家族の分も一緒に管理したり、<br>
    予定によって区別したりできます。</p>
  </div>
</div>

<% unless user_signed_in? %>
  <div class="row">
    <div class="col top-btn-group text-center">
      <div class="top-btn">
        <%= link_to new_user_session_path, class: 'btn btn-outline-success btn-sm btn-block mb-3 sign_in' do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </div>
      <div class="top-btn">
        <%= link_to new_user_registration_path, class: 'btn btn-outline-primary btn-sm btn-block mb-3 sign_in' do %>
          <i class="fas fa-user-plus"></i> 新規登録
        <% end %>
      </div>
      <div class="top-btn">
        <%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in" do %>
          <i class="fas fa-feather-alt"></i> ゲストログイン
        <% end %>
      </div>
    </div>
  </div>
<% end %>