@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// 全体の設定
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: #696969;
}

// カレンダーの点
.fc-daygrid-event-dot {
  display: none;
}

.fc .fc-daygrid-day-number {
  color: #696969;
}

.fc .fc-col-header-cell-cushion {
  color: #696969;
}

// 新規登録、ログイン、users
.sessions-title {
  padding: 0 0 15px 20px;
}

.registration th {
  height: 45px;
  width: 40%;
}

.caution {
  font-size: 10px;
}

.registration-form {
  width: 100%;
}

.log-in {
  margin: 40px 50px 0 0;
}

.sessions {
  width: 100%;
}

.sessions th {
  height: 45px;
  width: 30%;
}

.sessions-form {
  width: 85%;
}

.users-edit {
  padding: 20px 15px 0 0;
}

.unsubscribe {
  text-align: center;
}

.unsubscribe h3 {
  padding: 20px;
}

.unsubscribe-btn {
  padding-top: 20px;
}

.footer-image {
  width: 100%;
  height: 100px;
}

.footer h2 {
  color: #f5f5f5;
  font-size: 10px;
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: auto;
}

.footer span {
  color: #f5f5f5;
  font-size: 8px;
}
