<h1>日記を書く</h1>

<!--<%= form_with model: [@schedule, @diary] do |f| %>-->
<!--  <h3>日付</h3>-->
<!--  <%= f.text_field :simple_diary, rows: '5', placeholder: "一行日記" %>-->
<!--  <%= f.submit "保存" %>-->
  <!--<div class="simple_diary">-->
  <!--  %= f.text_field :simple_diary %>-->
  <!--</div>-->
  <!--<div class="diary">-->
  <!--  %= f.text_area :detail %>-->
  <!--</div>-->
  <!--<div class="image">-->
  <!--  %= f.text_area :image_id %>-->
  <!--</div>-->
<% end %>