<h1>日記を書く</h1>

<!--%= form_with model: [:public, @schedule.id.diary] do |f| %>-->
<!--  <h3>日付</h3>-->
<!--  <div class="simple_diary">-->
<!--    %= f.text_field :simple_diary %>-->
<!--  </div>-->
<!--  <div class="diary">-->
<!--    %= f.text_area :detail %>-->
<!--  </div>-->
<!--  <div class="image">-->
<!--    %= f.text_area :image_id %>-->
<!--  </div>-->
<!--% end %>-->