<div class="unsubscribe">
  <h3>本当に退会しますか？</h3>
  <p>退会すると、会員情報や<br>今まで登録したスケジュール、日記がすべて削除されます。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>

  <div class="unsubscribe-btn">
    <%= link_to "退会しない", users_my_page_path, class:"btn btn-primary" %>
    <%= link_to "退会する", users_withdraw_path, method: :patch, "data-confirm" => "アカウントを削除してよろしいですか？\n (再登録には別のメールアドレスが必要です)", class:"btn btn-danger" %>
  </div>
</div>